<!-- <div class="app-icon">DZINR.</div> -->
<div class="logo-container" [class.hidden]="isHidden">
  <div class="app-logo">DZINR.</div>
</div>

<ng-container class="flex-container">
  <div class="hero-section">
    <h1 class="tag-line">Build your app fast<br />with Design Ninjas</h1>
    <h6 class="sub-text">Build your app fast with Design Ninjas</h6>
    <div class="plan-chat-links">
      <a mat-stroked-button href="#">See Plans</a>
      <a mat-flat-button href="#" class="hover-stroked-button">Book a call</a>
    </div>
  </div>

  <div class="video-container">
    <video class="video-player" autoplay loop muted>
      <source
        src="https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_1MB.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="mvp-section">
    <img
      src="assets/cute-ninja-meditation-yoga-cartoon-vector-icon-illustration-people-sport-icon-concept-isolated-flat.png"
      alt="ninja-meditation"
      class="ninja-meditation"
      style="visibility: hidden"
    />
    <h1 class="mvp-line">
      Our core value is delivering stunning MVPs and transforming products
      ensuring impactful results
    </h1>
    <img
      src="assets/cute-ninja-meditation-yoga-cartoon-vector-icon-illustration-people-sport-icon-concept-isolated-flat.png"
      alt="ninja-meditation"
      class="ninja-meditation"
    />
  </div>

  <div class="project-section">
    <div class="moto-section">
      <h1 class="moto-line">We Are Purpose-Driven Kreators</h1>
      <h1 class="moto-desc">
        At Kreators, we’re not just another design team; we’re passionate
        creatives dedicated to crafting purposeful, impactful designs. Our
        mission is to help brands with vision and heart succeed, delivering fast
        and effective no-code solutions that bring your ideas to life.
      </h1>
    </div>
    <div class="grid-container">
      <div class="grid-item-1">1</div>
      <div class="grid-item-2">2</div>
      <div class="grid-item-3">3</div>
      <div class="grid-item-4">
        <a
          mat-flat-button
          href="#"
          class="hover-stroked-button grid-item-4-button"
          >Checkout Cool Stuff We Did</a
        >
      </div>
    </div>
  </div>

  <div class="things-we-do-well-section">
    <h1 class="things-we-do-well-h1">Things we do well</h1>
    <div class="design-dev-section">
      <p>
        <span class="design-dev-heading">DESIGN</span><br />
        UI/UX design<br />
        Rapid prototyping<br />
        Web design<br />
        Product design<br />
        App design<br />
      </p>
      <p>
        <span class="design-dev-heading">DEVELOPEMENT</span><br />
        WIX Developement<br />
        Frontend development<br />
        HTML/CSS/JS<br />
        Angular<br />
      </p>
    </div>
  </div>

  <div class="ninja-journey-section">
    <h1 class="ninja-journey-h1">
      Turn your ideas into experience with Ninja Journey
    </h1>
    <h6 class="ninja-journey-sub-text">
      Design as you know it is out the door. Design as you want it just arrived.
    </h6>
    <div class="build-launch-grow">
      @for(ninja of ninjaJourney; track ninja){ @if(ninja.h1 === 'arrows'){
      <div class="ninja-stage ninja-stage-arrows">
        <img
          [src]="ninja.imgUrl"
          [alt]="ninja.imgUrl"
          [id]="ninja.imgUrl"
          class="ninja-images"
        />
      </div>
      } @else{

      <div class="ninja-stage">
        <img
          [src]="ninja.imgUrl"
          [alt]="ninja.imgUrl"
          [id]="ninja.imgUrl"
          class="ninja-images"
        />
        <h1>{{ ninja.h1 }}</h1>
        <p class="ninja-desc">{{ ninja.desc }}</p>
      </div>
      } }
    </div>
    <div class="ninja-journey-links">
      <a mat-stroked-button href="#">See Plans</a>
      <a mat-flat-button href="#" class="hover-stroked-button">Book a call</a>
    </div>
  </div>
</ng-container>
