.logo-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s ease;
  z-index: 1000;
}

.flex-container{
  width: 100%;
  overflow-x: hidden;
}

.things-we-do-well-section-sun-w-bird {
  margin-top: -150vh;
  margin-bottom: 10vh;
  max-width: 10vw;
  margin-left: 20vw;
  z-index: -1;
  opacity: 0.8;
}

.things-we-do-well-section-bg {
  max-width: 100vw;
  opacity: 0.8;
  z-index: -1;
}

.footer-bg {
  max-width: 100vw;
  margin-top: -150vh;
  position: relative;
  z-index: -1;
}

h1,
h2,
h6,
p,
a,
mat-panel-title {
  font-family: var(--font-family);
  color: var(--app-color);
}

p {
  color: (--font-color-light);
}

a {
  font-size: 1rem;
}

.video-trees {
  max-width: 100vw;
  margin-top: -5vh;
  z-index: -1;
}

.logo-container.hidden {
  transform: translate(-50%, -120%);
}

.app-logo {
  font-size: 1.5rem;
  padding-top: 4vh;
  height: auto;
  font-weight: bolder;
  opacity: 0.2;
  color: var(--primary-color-2);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

.hero-bg {
  max-width: 100vw;
  position: absolute;
  top: 40vh;
  z-index: -1;
  opacity: 0.5;
}

.tag-line {
  font-size: var(--font-lg);
  font-family: var(--font-family);
  line-height: var(--font-lg);
  font-weight: 400;
  margin-bottom: 4vh;
  color: var(--font-color);
  text-align: center;
}

.sub-text {
  font-size: 1.2rem;
  font-family: var(--font-family);
  font-weight: 400;
  margin-bottom: 5vh;
  color: var(--font-color);
  opacity: 0.7;
  text-align: center;
}

.plan-chat-links a,
.dream-call a {
  padding: 5vh 4vw;
  margin: 2vh;
  border-radius: 50px;
  font-family: var(--font-family);
}

.dream-call a {
  margin-top: 2.5rem;
  padding: 5vh 3vw;
  font-weight: 600;
}

.plan-chat-links a:last-child,
.dream-call a {
  background-color: var(--app-color);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border: 1px solid var(--app-color);
  color: var(--white-text-color);
}

.plan-chat-links a:last-child:hover,
.dream-call a:hover {
  background-color: transparent;
  color: var(--primary-color-2);
  border: 1px solid var(--primary-color-2);
}

.video-container {
  max-width: 90vw; /* 80% of viewport width */
  max-height: 98vh;
  margin: 0 auto; /* Center horizontally */
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Hide overflow for rounded corners */
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.15);
}

.video-player {
  width: 100%; /* Fill container width */
  height: 100%; /* Fill container height */
  transform: scale(1.5); /* Start zoomed-in */
  transition: transform 0.3s ease; /* Smooth scaling transition */
}

.mvp-section {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5vh;
}

.mvp-line {
  width: 55%;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: var(--font-md-1);
  color: var(--font-color);
}

.ninja-meditation {
  max-width: 10vw;
}

.project-section {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
}

.moto-section {
  width: 90vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15vh;
}

.moto-line {
  padding-right: 5vw;
  padding-left: 5vw;
  width: 100vw;
  font-size: var(--font-md-3);
  line-height: normal;
  font-weight: 400;
  font-family: var(--font-family);
}

.moto-desc {
  font-size: var(--font-sm);
  margin-top: 3vh;
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: var(--font-color);
  opacity: 0.8;
}

.grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 98.5vw;
  height: 90vh;
  margin-top: 15vh;
  row-gap: 0.5vw;
  column-gap: 0.5vw;
  justify-content: space-between;
}

.grid-item-1 {
  border: 1px solid teal;
}

.grid-item-2 {
  border: 1px solid teal;
}

.grid-item-3 {
  border: 1px solid teal;
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

.grid-item-4 {
  grid-column: 1 / span 2;
  border-radius: 20px;
  overflow: hidden;
}

.grid-item-4 a {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  font-family: var(--font-family);
  font-size: var(--font-md);
  background-color: #ecedee;
  border-radius: 20px;
  font-weight: 500;
  color: var(--font-color);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.grid-item-4 a:hover {
  background-color: var(--primary-color-2);
  color: var(--white-text-color);
  border: 1px solid var(--primary-color-2);
}

.things-we-do-well-section {
  width: 40%;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10%;
}

.design-dev-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}

.things-we-do-well-h1 {
  font-size: var(--font-md-2);
  font-family: var(--font-family);
}

.design-dev-section p {
  font-family: var(--font-family);
  padding: 2vh 2vw 2vh 0;
  font-size: 1.1rem;
  line-height: 2rem;
}

.design-dev-heading {
  font-weight: 600;
}

.ninja-journey-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  margin-top: 10vh;
}

.ninja-journey-h1 {
  font-size: var(--font-md-2);
  font-family: var(--font-family);
  font-weight: 400;
  margin-bottom: 4vh;
  text-align: center;
}

.ninja-journey-sub-text {
  font-size: 1.2rem;
  font-family: var(--font-family);
  font-weight: 300;
  margin-bottom: 5vh;
  color: var(--font-color);
  opacity: 0.7;
  text-align: center;
}

.ninja-journey-links a {
  padding: 4vh 2.5vw;
  margin: 2vh;
  border-radius: 50px;
  font-family: var(--font-family);
}

.ninja-journey-links a:last-child {
  background-color: var(--app-color);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border: 1px solid var(--app-color);
  color: var(--white-text-color);
}

.ninja-journey-links a:last-child:hover {
  background-color: transparent;
  color: var(--primary-color-2);
  border: 1px solid var(--primary-color-2);
}

.build-launch-grow {
  display: flex;
  flex-direction: row;
  width: 95vw;
  justify-content: space-between;
  align-items: center;
}

.ninja-stage-arrows {
  margin-bottom: 5rem;
}

.ninja-images {
  max-width: 10rem;
}

.ninja-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.ninja-desc {
  color: var(--font-color);
  opacity: 0.6;
  text-align: center;
  width: 60%;
  margin-bottom: 10%;
}

.ninja-start {
  max-width: 1rem;
}

.benefits-container,
.pricing-container,
.questions-container,
.dream-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  margin-top: 10vh;
}

.benefits-container > h1,
.pricing-container > h1,
.questions-container > h1,
.dream-call > h1 {
  font-size: var(--font-md-2);
  font-weight: 500;
  text-align: center;
  margin-top: 15vh;
  line-height: var(--font-md-2);
}

.dream-call > h1 {
  font-size: var(--font-lg);
  line-height: var(--font-lg);
  width: 70vw;
}

.benefits-container > p,
.pricing-container > p,
.questions-container > p,
.dream-call > p {
  opacity: 0.6;
  text-align: center;
  font-size: var(--font-sm);
}

.benefits-cards {
  border-radius: 10px;
  height: 40vh;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--border-color-light);
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.15); */
}

.benefits-card-loop {
  display: grid;
  padding: 1vw 1vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  width: 90vw;
}

.benefits-cards h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.benefits-cards p {
  font-size: var(--font-sm);
  opacity: 0.8;
  font-weight: 500;
  line-height: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

.benefits-container a {
  padding: 4vh 2.5vw;
  margin: 5vh;
  border-radius: 50px;
  font-family: var(--font-family);
}

.benefits-container a:last-child {
  background-color: var(--app-color);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border: 1px solid var(--app-color);
  color: var(--white-text-color);
}

.benefits-container a:hover {
  background-color: transparent;
  color: var(--primary-color-2);
  border: 1px solid var(--primary-color-2);
}

.pricing-cards {
  border: 1px solid var(--border-color-dark);
  border-radius: 20px;
  padding: 2rem;
}

.pricing-card-loop {
  display: grid;
  padding: 1vw 1vw;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  width: 90vw;
}

.adjust-plan-card {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("/assets/Card.png");
  background-size: cover;

  border: 0.5px solid var(--border-color-light);
  border-radius: 20px;
  padding: 2rem;
  grid-column: 1 / span 2;
  display: flex;
}

.adjust-card-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  width: 60%;
}

.adjust-card-button a {
  padding: 5vh 4vw;
  font-weight: 500;
  border-radius: 50px;
  font-family: var(--font-family);
  background-color: var(--app-color);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border: 1px solid var(--app-color);
  color: var(--white-text-color);
}

.adjust-card-button a:hover {
  background-color: transparent;
  color: var(--primary-color-2);
  border: 1px solid var(--primary-color-2);
}

.what-includes-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  width: 80%;
}

.what-include {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.what-include > img {
  margin-right: 0.5rem;
}

.pricing-cards > h1 {
  font-size: var(--font-md);
}

.card-subtitle {
  font-size: var(--font-sm);
  color: var(--primary-color-50-op);
  line-height: 0.1rem;
}

.what-include-header {
  font-size: var(--font-sm);
  color: var(--app-color);
  line-height: 0.1rem;
  font-weight: 600;
}

.pricing-cards > h2 {
  font-size: var(--font-md-3);
  padding: 2rem 0;
}

.pricing-cards > a {
  padding: 4vh 4vw;
  border-radius: 50px;
  width: 100%;
  margin-bottom: 2rem;
  font-family: var(--font-family);
  border-color: var(--app-color);
}

.pricing-cards > a:hover {
  color: var(--primary-color-2);
  border-color: var(--primary-color-2);
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
  border-radius: 0 !important;
}

mat-expansion-panel {
  width: 80vw;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-color-50-op);
}

mat-expansion-panel > p {
  font-size: 1rem;
}

mat-panel-title {
  font-size: var(--font-md);
  line-height: var(--font-md);
  font-weight: 600;
  color: var(--app-color);
}

mat-panel-title:hover {
  color: var(--primary-color-2);
}

.dream-call {
  margin-top: 50vh;
}

.app-name {
  display: flex;
  flex-direction: row;
  width: 84vw;
  align-items: center;
  justify-content: space-between;
  margin-left: 7vw;
}

.app-name h1 {
  font-family: raleway-semibold, raleway, sans-serif;
  font-size: var(--app-size);
  font-weight: bold;
  letter-spacing: -12px;
  line-height: var(--app-size);
}

.app-name p {
  font-size: var(--font-md);
  line-height: var(--font-md);
  color: var(--font-color-light);
}

.app-info {
  width: 30vw;
  margin-left: 7vw;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-size: 1.2rem;
  color: var(--font-color);
}

.socials {
  display: flex;
  flex-direction: row;
  width: 84vw;
  margin-left: 7vw;
  justify-content: space-between;
  align-items: center;
}

#fa-linkedin,
#fa-youtube-play {
  width: 47px;
  padding-right: 20px;
  margin-top: 1rem;
}

#copywrite {
  font-size: var(--font-sm);
}
@media only screen and (max-width: 600px) {
  .ninja-stage-arrows {
    display: none;
  }

  .build-launch-grow {
    flex-direction: column;
  }

  .things-we-do-well-section {
    margin-left: 0;
    padding: 5vw;
    width: 100vw;
  }

  .moto-section {
    flex-direction: column;
  }

  .design-dev-section {
    width: 100vw;
  }

  .benefits-container,
  .ninja-journey-section,
  .pricing-container {
    padding: 5vw;
  }

  .benefits-card-loop {
    display: grid;
    grid-template-columns: 1fr;
  }

  .pricing-card-loop {
    display: flex;
    flex-direction: column;
  }

  .adjust-plan-card {
    flex-direction: column;
  }

  .adjust-card-button {
    width: 100%;
    align-items: center;
  }

  .app-name {
    flex-direction: column;
  }

  .app-name > h1 {
    font-size: 5rem;
    letter-spacing: -5px;
  }

  .mvp-section {
    flex-direction: column;
    align-items: center;
  }

  .ninja-meditation {
    min-width: 50vw;
  }

  .things-we-do-well-section-sun-w-bird {
    margin-left: 70vw;
    max-width: 20vw;
  }

  .design-dev-section {
    flex-direction: column;
  }

  .footer-bg {
    margin-top: -50vh;
    opacity: 0.5;
  }

  .video-trees {
    margin-top: -2vh;
  }

  .app-info, .socials{
    flex-direction: column;
    width: 80vw;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }


  .grid-item-3 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  
  .grid-item-4 {
    grid-column: 1 / span 1;
  }
}
