*,
p {
  font-family: var(--font-family);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.big-form-field {
  grid-column: 1 / span 2;
  margin-bottom: 15px;
  display: grid;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

li {
  border: 1px solid var(--border-color-dark);
  padding: 5px 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  min-width: fit-content;
}

span {
  font-weight: 600;
  color: var(--app-color);
}

div {
  margin-right: 15px;
}

li:hover {
  border-color: var(--primary-color-2);
  color: var(--primary-color-2);
}

::ng-deep .mdc-text-field--filled {
  background-color: transparent !important;
  border: 1px solid var(--border-color-dark);
  border-radius: 10px;
}

::ng-deep .mdc-text-field--filled:hover {
  background-color: transparent !important;
  border: 1px solid var(--primary-color-2);
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: fit-content !important;
}

::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

::ng-deep .mat-mdc-form-field {
  min-width: 100% !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: transparent !important;
}

mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
}

.submit-request-btn {
  background-color: var(--primary-color-2);
  color: white;
}

@media only screen and (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }

  .big-form-field {
    grid-column: 1 / span 1;
  }
}
